body{
    font-family: 'Lucia Grande', sans-serif; /* Test for this*/
    margin: 0;
    padding: 0;
    font-size: 24px; 
    background-color: #d3d3d3;
    color: #a9a9a9
  }
  
h1{
    font-size: 64px;
    text-align: center;
    line-height: 2;
}
  
h2{
    font-size: 32px;
    text-align: center;
    padding: 5px;
    text-shadow: 5px 5px 2px #000000;
}
  
p {
    font-size: 24px;
    padding: 0 30px;
}
  
*:focus{
    border: 2px solid black;
}
  
img {
    display: block;
    width: 525px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
}
  

.pics{
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.team {
    margin: 12px;
    background: #FF0000;
    border-radius: 7px;
    padding: 0 0 50px 0;
    flex-basis: 400px;
    flex-wrap: wrap;
}
  
.team > header{
    background: #d3d3d3;
    border: 2px solid #FF0000;
    padding: 20px 0;
    border-radius: 7px 7px 0 0;
}
  
.team > ul{
    list-style: none;
    padding: 0;
}
  
.team > ul li {
    width: 90%;
    margin: 20px auto;
}
  
  /* Gallery! */
.gallery{
    min-height: 600px;
    /*Your code here again.*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.gallery > img{
    border: 10px #d3d3d3 solid;
    margin: 10px;
    width: 300px;
}
  
  /* Navbar */
header{
    background: #fff;
    border-bottom: 3px solid #000000;
    /*Your  code here again.*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.nav_links{
    /*Your code here again.*/
    display: flex;
    flex-direction: column;
}
  
.nav_item a{
    color: black;
    text-decoration: none;
}
  
.nav_item a:hover, a:focus{
    color: #91221a;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
}
  
    @media screen and (min-width: 850px){
  
    /* Cards! */
    .pricing {
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .card {
      /*Your  code here again.*/
      display: flex;
      flex-basis: 225px;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .card_big{
      -webkit-transform: scaleX(1.12);
              transform: scaleX(1.12);
    }
  
    /* Navbar */
    header{
      /*Your code here again.*/  
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .nav_links{
      /*Your code here again.*/
      flex-direction: row;
    }
  
    .nav_item a{
      padding: 10px;
    }
  }
  
  @media print { 
    .pics {
      flex-basis: 200px;
    }

    body {
      background-image: none;
    }
    .pricing{
      align-items: flex-start;
    }
    .pics{
      display: none;
    }
  }
  
 